    <!-- computer nav -->
    
    
    <!-- create character banner -->
    <div
      class="flex laptop:mx-auto w-auto laptop:w-1/2 bg-white p-10 m-5 rounded-xl shadow-2xl justify-evenly place-items-center"
    >
      <div class="">
        <h3 class="text-center font-dnd text-4xl">Create your Character</h3>
      </div>
    </div>

    <div
      class="flex flex-col justify-evenly laptop:flex-row bg-white p-10 m-5 rounded-xl shadow-2xl relative"
    >
      <div class="absolute right-28 top-4">
        <button
          class="save-button mr-5 shadow-2xl p-1 px-2 text-white rounded bg-blue-900 hover:bg-red-900 mb-5"
          >Save Changes</button
        >
      </div>
      <div class="bg-gray-100 p-10 rounded-full border-b-8 border-red-800 mb-4">
        <span class="w-1/4 border-b-8 border-red-800 pt-3">
          <label
            for="characterName"
            class="block text-xs font-semibold text-gray-600 uppercase"
            >Character Name</label
          >
          <input
            id="character-name"
            type="text"
            name="name"
            class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
            value="{{name}}"
          />
        </span>
      </div>
      <div>
        <span class="w-1/4 border-b-8 border-red-800">
          <label
            for="class"
            class="block text-xs font-semibold text-gray-600 uppercase mt-2"
            >Class</label
          >
          <input
            id="class"
            type="text"
            name="character_class"
            class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
            value="{{character_class}}"
            
          />
          <label
            for="ancestry"
            class="block text-xs font-semibold text-gray-600 uppercase mt-2"
            >ancestry</label
          >
          <input
            id="ancestry"
            type="text"
            name="ancestry"
            class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
            value="{{ancestry}}"
          />
        </span>
      </div>
      <div>
        <span class="w-1/4 border-b-8 border-red-800">
          <label
            for="background"
            class="block text-xs font-semibold text-gray-600 uppercase mt-2"
            >Background</label
          >
          <input
            id="background"
            type="text"
            name="background"
            class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
            value="{{background}}"
          />
          <label
            for="alignment"
            class="block text-xs font-semibold text-gray-600 uppercase mt-2"
            >Alignment</label
          >
          <input
            id="alignment"
            type="text"
            name="alignment"
            class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
            value="{{alignment}}"
          />
        </span>
      </div>
      <div>
        <span class="w-1/4 border-b-8 border-red-800">
          <label
            for="player-name"
            class="block text-xs font-semibold text-gray-600 uppercase mt-2"
            >Player Name</label
          >
          <input
            id="player-name"
            type="text"
            name="player_name"
            class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
            value="{{user_id}}"
          />
          <label
            for="level"
            class="block text-xs font-semibold text-gray-600 uppercase mt-2"
            >Level</label
          >
          <input
            id="level"
            type="text"
            name="character_level"
            class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
            value="{{character_level}}"
          />
        </span>
      </div>
    </div>

    <!-- bio and new character -->
    <div
      class="flex flex-col justify-evenly laptop:flex-row laptop:m-10 mt-20 rounded-2xl"
    >
      <div
        class="bg-white rounded-xl shadow-2xl m-5 py-5 laptop:w-1/2 flex-grow flex flex-col justify-evenly"
      >
        <button
          class="ml-auto save-button mr-5  shadow-2xl p-1 px-2 text-white rounded bg-blue-900 hover:bg-red-900"
          >Save Changes</button
        >
        <div class="flex flex-row w-full justify-evenly">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="strength"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Strength</label
            >
            <div class="flex flex-row justify-evenly">
              <input
                id="strength-stat"
                type="text"
                name="strength"
                class="block w-4/5 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                value="{{strength}}"
  
              />
              <input
                id="strength-mod"
                type="text"
                name="strength_bonus"
                class="block w-4/5 p-3 mt-2 ml-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                value="{{strength_bonus}}"
  
              />
            </div>
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="dexterity"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Dexterity</label
            >
            <div class="flex flex-row justify-evenly">
              <input
                id="dexterity-stat"
                type="text"
                name="dexterity"
                class="block w-4/5 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                value="{{dexterity}}"
  
              />
              <input
                id="dexterity-mod"
                type="text"
                name="dexterity_bonus"
                class="block w-4/5 p-3 mt-2 ml-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                value="{{dexterity_bonus}}"
              />
            </div>
          </div>
        </div>

        <div class="flex flex-row w-full justify-evenly">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="constitution"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Constitution</label
            >
            <div class="flex flex-row justify-evenly">
              <input
                id="constitution-stat"
                type="text"
                name="constitution"
                class="block w-4/5 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                value="{{constitution}}"
              />
              <input
                id="constitution-mod"
                type="text"
                name="constitution_bonus"
                class="block w-4/5 p-3 mt-2 ml-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                value="{{constitution_bonus}}"
              />
            </div>
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="intelligence"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Intelligence</label
            >
            <div class="flex flex-row justify-evenly">
              <input
                id="intelligence-stat"
                type="text"
                name="intelligence"
                class="block w-4/5 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                value="{{intelligence}}"
  
              />
              <input
                id="intelligence-mod"
                type="text"
                name="intelligence_bonus"
                class="block w-4/5 p-3 mt-2 ml-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                value="{{intelligence_bonus}}"
              />
            </div>
          </div>
        </div>
        <div class="flex flex-row w-full justify-evenly">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="wisdom"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Wisdom</label
            >
            <div class="flex flex-row justify-evenly">
              <input
                id="wisdom-stat"
                type="text"
                name="wisdom"
                class="block w-4/5 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                value="{{wisdom}}"
              />
              <input
                id="wisdom-mod"
                type="text"
                name="wisdom_bonus"
                class="block w-4/5 p-3 mt-2 ml-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                value="{{wisdom_bonus}}"
              />
            </div>
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="charisma"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Charisma</label
            >
            <div class="flex flex-row justify-evenly">
              <input
                id="charisma-stat"
                type="text"
                name="charisma"
                class="block w-4/5 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                value="{{charism}}"
              />
              <input
                id="charisma-mod"
                type="text"
                name="charism_bonus"
                class="block w-4/5 p-3 mt-2 ml-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                value="{{charism_bonus}}"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="bg-white rounded-xl shadow-2xl m-5 py-5 laptop:w-1/2 flex-grow flex flex-col justify-evenly"
      >
        <button
          class="ml-auto save-button mr-5  shadow-2xl p-1 px-2 text-white rounded bg-blue-900 hover:bg-red-900"
          >Save Changes</button
        >
        <div class="flex flex-row w-full justify-evenly">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="armorClass"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >AC</label
            >
            <input
              id="armor-class"
              type="text"
              name="amor_class"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{amor_class}}"
            />
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="initiative"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Initiative</label
            >
            <input
              id="initiative"
              type="text"
              name="initiative"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{initiative}}"
            />
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="speed"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Speed</label
            >
            <input
              id="speed"
              type="text"
              name="speed"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{speed}}"
            />
          </div>
        </div>

        <div class="flex flex-row w-full justify-evenly">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="currentHP"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Current HP</label
            >
            <input
              id="current-hp"
              type="text"
              name="current_hp"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{current_hp}}"
            />
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="maxHP"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Max HP</label
            >
            <input
              id="max-hp"
              type="text"
              name="max_hp"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{max_hp}}"
            />
          </div>
        </div>
        <div class="flex flex-row w-full justify-evenly">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="hitDice"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Hit Dice</label
            >
            <div class="flex justify-evenly">
              <input
                id="hit-dice-remaining"
                type="text"
                name="hit_dice_left"
                class="block w-1/3 p-3 m-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                value="{{hit_dice_left}}"
              />

              <input
                id="hit-dice-total"
                type="text"
                name="hit_dice_total"
                class="block w-1/3 p-3 m-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                value="{{hit_dice_total}}"
              />
            </div>
            <div class="flex justify-evenly">
              <label
                for="hit-dice-remaining"
                class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
                >Remaining</label
              >
              <label
                for="hit-dice-total"
                class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
                >Total</label
              >
            </div>
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <div class="flex justify-evenly">
              <div id="topc1" class="bg-green-700 rounded-full m-1 p-3"></div>
              <div id="topc2" class="bg-green-700 rounded-full m-1 p-3"></div>
              <div id="topc3" class="bg-green-700 rounded-full m-1 p-3"></div>
              <h3>P</h3>
            </div>
            <div class="flex justify-evenly">
              <div
                id="bottomc1"
                class="bg-green-700 rounded-full m-1 p-3"
              ></div>
              <div
                id="bottomc2"
                class="bg-green-700 rounded-full m-1 p-3"
              ></div>
              <div
                id="bottomc3"
                class="bg-green-700 rounded-full m-1 p-3"
              ></div>
              <h3>F</h3>
            </div>
            <label
              for="deathSaves"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Death Saves</label
            >
          </div>
        </div>
      </div>
    </div>

    <!-- second flex character sheet -->
    <div
      class="flex flex-col justify-evenly laptop:flex-row laptop:m-10 mt-20 rounded-2xl"
    >
      <div
        class="bg-white rounded-xl shadow-2xl m-5 py-5 laptop:w-1/2 flex-grow flex flex-col justify-evenly"
      >
        <button
          class="ml-auto save-button mr-5  shadow-2xl p-1 px-2 text-white rounded bg-blue-900 hover:bg-red-900"
          >Save Changes</button
        >
        <div
          class="flex flex-col laptop:flex-row w-full justify-evenly flex-grow"
        >
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl flex flex-col"
          >
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="inspiration"
                type="checkbox"
                class="form-checkbox h-5 w-5 text-gray-600"
                {{#if inspiration}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700">
                <label
                  for="inspiration"
                  class="block text-xs font-semibold uppercase mt-2 text-center mb-2"
                  >Inspiration</label
                ></span
              >
            </label>
            <div class="flex pl-3">
              <input
                id="proficiency"
                type="text"
                name="proficiency_bonus"
                class="block w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{proficiency_bonus}}"
              />
              <label
                for="proficiency"
                class="block text-xs font-semibold uppercase mt-6 ml-2 text-center"
                >Proficiency</label
              >
            </div>
            <div class="flex pl-3">
              <input
                id="passive-wisdom"
                type="text"
                name="passive_perception"
                class="block w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{passive_perception}}"
              />
              <label
                for="passiveWisdom"
                class="block text-xs font-semibold uppercase mt-6 ml-2 text-center"
                >Passive Wisdom (perception)</label
              >
            </div>
          </div>
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl flex flex-col"
          >
            <h3 class="p-3 text-center">Saves</h3>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="strength-save-proficiency"
                type="checkbox"
                name="str_save"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if str_save}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="strength-save-stat"
                type="text"
                name="str_save_value"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="strengthSave"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Strength</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="dexterity-save-proficiency"
                type="checkbox"
                name="dex_save"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if dex_save}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="dexterity-save-stat"
                type="text"
                name="dex_save_value"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{dex_save_value}}"
  
              />
              <label
                for="dexteritySave"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Dexterity</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="constitution-save-proficiency"
                type="checkbox"
                name="con_save"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if con_save}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="constitution-save-stat"
                type="text"
                name="constitutionSaveStat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{con_save_value}}"
              />
              <label
                for="constitutionSave"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Constitution</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="intelligence-save-proficiency"
                type="checkbox"
                name="int_save"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if int_save}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="intelligence-save-stat"
                type="text"
                name="int_save_value"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{int_save_value}}"
              />
              <label
                for="intelligenceSave"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Intelligence</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="wisdom-save-proficiency"
                type="checkbox"
                name="wis_save"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if wis_save}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="wisdom-save-stat"
                type="text"
                name="wis_save_value"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{wis_save_value}}"
              />
              <label
                for="wisdomSave"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Wisdom</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="charisma-save-proficiency"
                type="checkbox"
                name="cha_save"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if cha_save}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="charisma-save-stat"
                type="text"
                name="cha_save_value"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{cha_save_value}}"
              />
              <label
                for="charismaSa"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Charisma</label
              >
            </label>
          </div>
        </div>

        <h3 class="border-black border-solid border-b p-3 m-3 text-center">
          Skills
        </h3>

        <div
          class="flex flex-col laptop:flex-row w-full justify-evenly flex-grow"
        >
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl flex flex-col"
          >
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="acrobatics-proficiency"
                type="checkbox"
                name="acrobatics"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if acrobatics}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="acrobatics-stat"
                type="text"
                name="acrobatics_value"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{acrobatics_value}}"
              />
              <label
                for="acrobaticsSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Acrobatics (DEX)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="animal-handling-proficiency"
                type="checkbox"
                name="animal_handling"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if animal_handling}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="animal-handling-stat"
                type="text"
                name="animal_handling_value"
                value=""
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{animal_handling_value}}"
              />
              <label
                for="animalHandlingSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Animal Handling (WIS)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="arcana-proficiency"
                type="checkbox"
                name="arcana"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if arcana}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="arcana-stat"
                type="text"
                name="arcana_value"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{arcana_value}}"
              />
              <label
                for="arcanaSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Arcana (INT)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="athletics-proficiency"
                type="checkbox"
                name="athletics"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if athletics}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="athletics-stat"
                type="text"
                name="athletics_value"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{athletics_value}}"
              />
              <label
                for="athleticsSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Athletics (STR)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="deception-proficiency"
                type="checkbox"
                name="deception"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if deception}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="deception-stat"
                type="text"
                name="deception_value"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{deception_value}}"
              />
              <label
                for="deceptionSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Deception (CHA)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="history-proficiency"
                type="checkbox"
                name="history"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if history}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="history-stat"
                type="text"
                name="history_value"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{history_value}}"
              />
              <label
                for="historySkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >History (INT)</label
              >
            </label>
          </div>
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl flex flex-col"
          >
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="insight-proficiency"
                type="checkbox"
                name="insight"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if insight}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="insight-stat"
                type="text"
                name="insight_value"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{insight_value}}"
              />
              <label
                for="insightSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Insight (WIS)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="intimidation-proficiency"
                type="checkbox"
                name="intimidation"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if intimidation}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="intimidation-stat"
                type="text"
                name="intimidation_value"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{intimidation_value}}"
              />
              <label
                for="intimidationSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Intimidation (CHA)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="investigation-proficiency"
                type="checkbox"
                name="investigation"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if investigation}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="investigation-stat"
                type="text"
                name="investigation_value"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{investigation_value}}"
              />
              <label
                for="investigationSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Investigation (INT)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="medicine-proficiency"
                type="checkbox"
                name="medicine"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if medicine}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="medicine-stat"
                type="text"
                name="medicine_value"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{medicine_value}}"
              />
              <label
                for="medicineSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Medicine (WIS)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="nature-proficiency"
                type="checkbox"
                name="nature"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if nature}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="nature-stat"
                type="text"
                name="nature_value"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{nature_value}}"
              />
              <label
                for="natureSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Nature (INT)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="perception-proficiency"
                type="checkbox"
                name="perception"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if perception}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="perception-stat"
                type="text"
                name="perception_value"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{perception_value}}"
              />
              <label
                for="perceptionSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Perception (WIS)</label
              >
            </label>
          </div>
        </div>
        <div class="flex flex-row w-full justify-evenly">
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl flex flex-col"
          >
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="performance-proficiency"
                type="checkbox"
                name="performance"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if performance}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="performance-stat"
                type="text"
                name="performance_value"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{performance_value}}"
              />
              <label
                for="performanceSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Performance (CHA)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="persuasion-proficiency"
                type="checkbox"
                name="persuasion"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if persuasion}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="persuasion-stat"
                type="text"
                name="persuasion_value"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{persuasion_value}}"
              />
              <label
                for="persuasionSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Persuasion (CHA)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="religion-proficiency"
                type="checkbox"
                name="religion"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if religion}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="religion-stat"
                type="text"
                name="religion_value"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{religion_value}}"
              />
              <label
                for="religionSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Religion (INT)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="slight-of-hand-proficiency"
                type="checkbox"
                name="sleight_of_hand"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if sleight_of_hand}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="slight-of-hand-stat"
                type="text"
                name="sleight_of_hand_value"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{slight_of_hand_value}}"
              />
              <label
                for="slightOfHandSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Sleight of Hand (DEX)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="stealth-proficiency"
                type="checkbox"
                name="stealth"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if stealth}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="stealth-stat"
                type="text"
                name="stealth_value"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{stealth_value}}"
              />
              <label
                for="stealthSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Stealth (DEX)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="survival-proficiency"
                type="checkbox"
                name="survival"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
                {{#if survival}}
                checked
                {{/if}}
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="survival-stat"
                type="text"
                name="survival_value"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
                value="{{survival_value}}"
              />
              <label
                for="survivalSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Survival (WIS)</label
              >
            </label>
          </div>
        </div>
      </div>

      <div
        class="bg-white rounded-xl shadow-2xl m-5 py-5 flex flex-col justify-evenly"
      >
        <button
          class="ml-auto save-button mr-5  shadow-2xl p-1 px-2 text-white rounded bg-blue-900 hover:bg-red-900"
          >Save Changes</button
        >
        <div class="flex flex-row w-full justify-evenly">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="attack1Name"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Attack Name</label
            >
            <input
              id="attack1-name"
              type="textarea"
              name="attack_name_1"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{attack_name_1}}"
            />
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="strength1"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Strength</label
            >
            <input
              id="strength1"
              type="text"
              name="attack_strength_1"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{attack_strength_1}}"
            />
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="damage1"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Damage</label
            >
            <input
              id="damage1"
              type="text"
              name="attack_damage_1"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{attack_damage_1}}"
            />
          </div>
        </div>

        <div class="flex flex-row w-full justify-evenly">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="attack2Name"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Attack Name</label
            >
            <input
              id="attack2-name"
              type="textarea"
              name="attack_name_2"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{attack_name_2}}"  
            />
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="strength2"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Strength</label
            >
            <input
              id="strength2"
              type="text"
              name="attack_strength_2"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{attack_strength_2}}"
            />
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="damage2"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Damage</label
            >
            <input
              id="damage2"
              type="text"
              name="attack_damage_2"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{attack_damage_2}}"
            />
          </div>
        </div>

        <div class="flex flex-row w-full justify-evenly">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="attack3Name"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Attack Name</label
            >
            <input
              id="attack3-name"
              type="textarea"
              name="attack_name_3"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{attack_name_3}}"
            />
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="strength3"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Strength</label
            >
            <input
              id="strength3"
              type="text"
              name="attack_strength_3"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{attack_strength_3}}"
            />
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="damage3"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Damage</label
            >
            <input
              id="damage3"
              type="text"
              name="attack_damage_3"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{attack_damage_3}}"
            />
          </div>
        </div>
        
        <div class="flex flex-row justify-evenly w-full">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full">
            <label
              for="spell1"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Spell
              </label
            >
            <input
              id="spell1"
              type="text"
              name="spell_1"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{spell_1}}"
            />
          </div>
        </div>
           <div class="flex flex-row justify-evenly w-full">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full">
            <label
              for="spell2"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Spell</label
            >
            <input
              id="spell2"
              type="text"
              name="spell_2"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{spell_2}}"
            />
          </div>
        </div>
           <div class="flex flex-row justify-evenly w-full">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full">
            <label
              for="spell3"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Spell</label
            >
            <input
              id="spell3"
              type="text"
              name="spell_3"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{spell_3}}"
            />
          </div>
        </div>
           <div class="flex flex-row justify-evenly w-full">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full">
            <label
              for="spell4"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Spell</label
            >
            <input
              id="spell4"
              type="text"
              name="spell_4"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{spell_4}}"
            />
          </div>
        </div>
           <div class="flex flex-row justify-evenly w-full">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full">
            <label
              for="spell5"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Spell</label
            >
            <input
              id="spell5"
              type="text"
              name="spell_5"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{spell_5}}"
            />
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col justify-evenly laptop:flex-row laptop:m-10 mt-20 rounded-2xl"
    >
      <div
        class="bg-white rounded-xl shadow-2xl m-5 py-5 laptop:w-1/2 flex-grow flex flex-col justify-evenly"
      >
        <button
          class="ml-auto save-button mr-5  shadow-2xl p-1 px-2 text-white rounded bg-blue-900 hover:bg-red-900"
          >Save Changes</button
        >
        <div class="flex flex-col laptop:flex-row w-full justify-evenly">
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full laptop:w-1/4"
          >
            <label
              for="personalityTraits"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Personality Traits</label
            >
            <textarea
              id="personality-traits"
              type="text"
              name="personality_traits"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{personality_traits}}"
            ></textarea>
          </div>
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full laptop:w-1/4"
          >
            <label
              for="ideals"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Ideals</label
            >
            <textarea
              id="ideals"
              type="text"
              name="ideals"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{ideals}}"
            ></textarea>
          </div>
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full laptop:w-1/4"
          >
            <label
              for="bonds"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Bonds</label
            >
            <textarea
              id="bonds"
              type="text"
              name="bonds"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{bonds}}"
            ></textarea>
          </div>
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full laptop:w-1/4"
          >
            <label
              for="flaws"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Flaws</label
            >
            <textarea
              id="flaws"
              type="text"
              name="flaws"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{flaws}}"
            ></textarea>
          </div>
        </div>
        <div class="flex flex-col laptop:flex-row w-full justify-evenly">
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full laptop:w-1/4 h-72"
          >
            <label
              for="equipment"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Equipment</label
            >
            <textarea
              id="equipment"
              type="text"
              name="equipment"
              class="block w-full h-60 p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{equipment}}"
            ></textarea>
          </div>
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full laptop:w-1/4 h-72"
          >
            <label
              for="other-proficiencies-and-languages"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Other Proficiencies and Languages</label
            >
            <textarea
              id="other-proficiencies-and-languages"
              type="text"
              name="proficiencies"
              class="block w-full h-60 p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{proficiencies}}"
            ></textarea>
          </div>
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full laptop:w-1/2 h-72"
          >
            <label
              for="features-and-traits"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Features and Traits</label
            >
            <textarea
              id="features-and-traits"
              type="text"
              name="features"
              class="block w-full h-60 p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              value="{{features}}"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/character.js"></script>
    <script src="/js/deathSaves.js"></script>